<a href="https://colab.research.google.com/github/CarlosOX/SemanaTec/blob/main/05_3_actividad_librer%C3%ADa_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad - Librería `pandas`

* **Nombre:** Carlos Eduardo Ortega Clement 

> Bloc con sangría


* **Matrícula:** A01707480

In [ ]:
import pandas as pd
import numpy as np

**Entregar:** Archivo PDF de la actividad, así como el archivo .ipynb en tu repositorio.
**Nota:** Recuerda habrá una penalización de **50** puntos si la actividad fue entregada fuera de la fecha límite.

1. Subir el archivo `netflix_titles.csv` que se encuentra en el repositorio de la clase y cargalos en un `DataFrame`.

In [ ]:
df=pd.read_csv('netflix_titles.csv')

2. Desplegar las primeras 5 líneas del `DataFrame`.

In [ ]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

3. Implementa una función que despliegue el primer renglon de un `DataFrame`.

In [ ]:
def the_first():


    return df[0:1]

print(the_first())

  show_id     type title director  \
0      s1  TV Show    3%      NaN

                                                cast country       date_added  \
0  João Miguel, Bianca Comparato, Michel Gomes, R...  Brazil  August 14, 2020

   release_year rating   duration  \
0          2020  TV-MA  4 Seasons

                                           listed_in  \
0  International TV Shows, TV Dramas, TV Sci-Fi &...

                                         description
0  In a future where the elite inhabit an island ...

4. Implementa una función que regrese el número de registros en el `DataFrame`.

In [ ]:
def row_number():
  return df.shape[0]

row_number()

7787

5. Implementa una función que despliega las películas con un `release_year` determinado.

In [ ]:
def released_year(year):
   

 
  return df.loc[df['release_year'] == year]

year_query = 2020
released_year(year_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,This docuseries takes a deep dive into the luc...
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
29,s30,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,1 Season,TV Comedies,Kenya Barris and his family navigate relations...
...,...,...,...,...,...,...,...,...,...,...,...,...
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7738,s7739,TV Show,Young Wallander,NaN,"Adam Pålsson, Richard Dillane, Leanne Best, El...",United Kingdom,"September 3, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","An incendiary hate crime stirs civil unrest, f..."
7741,s7742,Movie,Your Name Engraved Herein,Liu Kuang-hui,"Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...",Taiwan,"December 23, 2020",2020,TV-MA,115 min,"Dramas, International Movies, LGBTQ Movies","In 1987, as martial law ends in Taiwan, Jia-ha..."
7744,s7745,Movie,"Yours Sincerely, Kanan Gill",Neville Shah,Kanan Gill,India,"April 24, 2020",2020,TV-MA,72 min,Stand-Up Comedy,Revisiting life goals set in a letter written ...

6. Implementa una función que despliegue las películas que son de un país determinado.

In [ ]:
def origin_country(country):
  return df.loc[df['country'] == country]

country_query = 'Mexico'
origin_country(country_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...
...,...,...,...,...,...,...,...,...,...,...,...,...
7698,s7699,TV Show,Yankee,NaN,"Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...",Mexico,"June 14, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","On the run from the police, an Arizona man cro..."
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2016,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...

7. Crea un nuevo `DataFrame` que sólo contenga las columnas `type`, `title`, `country` y `release_year`.

In [ ]:
dfnuevo=df.loc[0:,['type','title','country','release_year']]
print(dfnuevo)

         type                                    title  \
0     TV Show                                       3%
1       Movie                                     7:19
2       Movie                                    23:59
3       Movie                                        9
4       Movie                                       21
...       ...                                      ...
7782    Movie                                     Zozo
7783    Movie                                   Zubaan
7784    Movie                        Zulu Man in Japan
7785  TV Show                    Zumbo's Just Desserts
7786    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

                                                country  release_year
0                                                Brazil          2020
1                                                Mexico          2016
2                                             Singapore          2011
3                                         United States          2009
4                                         United States          2008
...                                                 ...           ...
7782  Sweden, Czech Republic, United Kingdom, Denmar...          2005
7783                                              India          2015
7784                                                NaN          2019
7785                                          Australia          2019
7786              United Kingdom, Canada, United States          2019

[7787 rows x 4 columns]

8. Despliega, cuantos tipos de producciones (`type`) se hicieron por país determinado (`country`).

In [ ]:
def count_distinct(df, type_col, country_col, value):
    grouped = df.loc[df[country_col] == value].groupby(type_col)
    return len(grouped)


count_distinct(df,'type','country','Mexico')

2

# 9. Implementa la función que genera el cuadrado de un número.

In [ ]:
def square(x):
    
  return x**2

10. Usando el método `apply`, genera el cuadrado de todos los valores del siguiente `DataFrame`.

In [ ]:
df2 = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df2

   A   B
0  1  10
1  2  20
2  3  30
3  5  40
4  6  50

In [ ]:
df2['Cuadrado A'] = df2['A'].apply(square)
df2['Cuadrado B'] = df2['B'].apply(square)
df2

   A   B  Cuadrado A  Cuadrado B
0  1  10           1         100
1  2  20           4         400
2  3  30           9         900
3  5  40          25        1600
4  6  50          36        2500